


<div id="blockAdmin">

	<div id="panneauGauche">
		<h1>Compte administrateur</h1>
		<div id="choixAdmin">
			<div id="btnAjoutUtilisateur" onclick="addUser()" class="btnAdmin"><p>Ajouter un <br />utilisateur</p></div>
			<div id="btnDiagramme1" onclick="diagramme1()" class="btnAdmin"><p>Diagramme</p></div>
		</div>
	</div>

	<div id="data"></div>

</div>