
<div class="topAdmin">
	<img src="assets/images/ballon.png" alt="" class="ballon" />
	<h1>Compte administrateur</h1>
	<img src="assets/images/ballon.png" alt="" class="ballon" />
</div>

<div id="blockAdmin">
	<div id="panneauGauche">
		<div id="btnRetour" onclick="acceuil()" class="divChoix"><p>Retour <br />acceuil</p></div>
		<div id="btnAjoutUtilisateur" onclick="addUser()" class="divChoix"><p>Ajouter un <br />utilisateur</p></div>
		<div id="btnEvenement" onclick="evenement()" class="divChoix"><p>Créer un <br />événement</p></div>
		<div id="btnDiagramme1" onclick="diagramme1()" class="divChoix"><p>Diagramme</p></div>	
	</div>
	<div id="data"></div>
</div>