

    <div id="hautForm">
        <h2>Ajouter un compte</h2>
        <h4>Tout les champs sont obligatoires</h4>
    </div>

    <form method="post" id="formAjoutUtilsateur">

        
        <div id="blocForm">
            
            <div id="blockGaucheForm">

                <h3>Nom</h3>
                <div id="boxNom" class="boxInput">
                    <label for="nom" id="label_nom"><i class="fas fa-user"></i></label>
                    <input type="text" name="nom1" id="nom" class="vide" placeholder="Nom" />
                </div>
                <p id="label_p_nom"></p>
                

                <h3>Mot de passe</h3>
                <div id="boxPswd" class="boxInput">
                    <label for="pswd" id="label_pswd"><i class="fas fa-unlock"></i></label>
                    <input type="password" name="pswd" id="pswd" class="vide" placeholder="Mot de passe" />
                </div>
                <p id="label_p_pswd"></p>


                <h3>Confirmation mot de passe</h3>
                <div id="boxPswd2" class="boxInput">
                    <label for="pswd2" id="label_pswd2"><i class="fas fa-lock"></i></label>
                    <input type="password" name="pswd2" id="pswd2" class="vide" placeholder="Confirmer mot de passe" />
                </div>
                <p id="label_p_pswd2"></p>

                <h3>Mail</h3>
                <div id="boxMail" class="boxInput">
                    <label for="mail" id="label_mail"><i class="fas fa-envelope"></i></label>
                    <input type="email" name="mail" id="mail" class="vide" placeholder="Mail" /> 
                </div>
                <p id="pMail"></p>




            </div><!--blockGaucheForm-->

            <div id="blockDroitForm">

                
                <h3>Ville</h3>
                <div id="boxVille" class="boxInput">
                    <label for="ville" id="label_ville"><i class="fas fa-city"></i></label>
                    <input type="text" name="ville" id="ville" class="vide" placeholder="" />
                </div>
                <p id="label_p_ville"></p>


                <h3>Téléphone</h3>
                <div id="boxTel" class="boxInput">
                    <label for="tel" id="label_tel"><i class="fas fa-phone"></i></label>
                    <input type="tel" name="tel" id="tel" class="vide" placeholder="Téléphone" />
                </div>
                <p id="label_p_tel"></p>


                <h3>Type de compte :</h3>
                <div id="radioType" class="radio">
                    <input type="radio" id="typeUti" name="typeCompte" value="utilisateur" checked>
                    <label for="typeUti">Utilisateur</label>

                    <input type="radio" id="typeAdmin" name="typeCompte" value="administrateur">
                    <label for="typeAdmin">Administrateur</label>
                </div>

                <h3>Inscription pour la saison :</h3>
                <div id="radioDate" class="radio">
                    <input type="radio" id="saison2018" name="date" value="2018" checked>
                    <label for="saison2018">2018/2019</label>

                    <input type="radio" id="saison2019" name="date" value="2020">
                    <label for="saison2019">2019/2020</label>
                </div>

                <div id="basForm">
                    <div id="boutonVerif" onclick="check()"><i class="fas fa-check"></i></div>
                </div>

            </div><!--blockDroitForm-->

        </div>
        
    </form>
   



